<header class="navbar">
    <div class="navbar-left">
        <a href="/" class="logo">Slashed Project</a>
        <div class="dropdown">
            <button class="dropbtn">Info sur le jeu</button>
            <div class="dropdown-content">
                <a href="#">Vue d'ensemble</a>
                <a href="#">Note de mise à jour</a>
                <a href="#">Narration et média</a>
                <a href="#">Chronologie de Slashed Project</a>
            </div>
        </div>
        <a href="#">Actualité</a>
        <a href="#">Communauté</a>
        <a href="#">Boutique</a>
    </div>
    <div class="navbar-right">
        <button class="search-button">
            <i class="fas fa-search"></i>
        </button>
        <div class="dropdown">
            <button class="dropbtn">Compte</button>
            <div class="dropdown-content">
                <a href="#">Se connecter</a>
                <a href="#">Configuration du compte</a>
                <a href="#">S'inscrire</a>
                <a href="#">Assistance</a>
                <a href="#">Boutique</a>
                <a href="#">Télécharger l'application Slashed Launcher</a>
            </div>
        </div>
    </div>
  </header>